 *
{
	font-family: 'Champagne';
	box-sizing: border-box;
}

html 
{
	background-color: grey;
}

html, body
{
	margin : 0;
	padding :0;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Champagne";
	src: url("font/Champagne-Limousines.ttf");
}


/*mainMenu----------------------------------------------------*/
nav.mainNav
{
	background-color: black;
	opacity: 0.8;
	padding : 8px;
	position: relative;
	top : 0;
	left: 0;
	width: 100vw;
	text-align: center;
/*z-index permet de faire passer l'Ã©lÃ©ment devant les autre, plus il est grand plus je serais sur qu'il soit devant*/
}

a.MenuLink
{
	font-family: "Champagne";
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	/*met le texte en majuscule*/
	padding: 1em 2em;
	display: inline-block;
	transition: all 1s ease;
	opacity: 0.4;
	/*ease permet un effet de ralentissement*/
}

a.MenuLink:hover
{
	color: white;

}

.btMenu
{
	margin:auto;
}

.menuBurger
{
	width: auto;
	height: auto;

	position: absolute;
	background-color: #323232;
	padding: 0.5em;
	cursor:pointer;
}

.string
{
	width:1.5em;
	height: 0.2em;

	margin-bottom: 0.3em;
	background-color: black;
}
.hiddenMenu
{
	position: absolute !important;
	width: 100%;
	height: 100vh;
	z-index: 9;

	background-color: #d1ccdc;
	transform: translate(-100%);
	-webkit-transform: translate(-100%);
	-moz-transform: translate(-100%);
	-ms-transform: translate(-100%);
	-o-transform: translate(-100%);
	transition: all 1s;
	display: flex;
}
.hiddenMenu-opened
{
	transform: translate(0);
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
}
.closeHead
{
	padding: 1em;
	position: absolute;
	left: 0;
	top: 0;
}
.toClose{
	display: inline-block;
	cursor:pointer;
	color: #323232;
}
.hiddenNavMobile{
	display: inline-block;
	margin:auto;
	text-align: center;
}
#hiddenNavUl{
	padding: 0;
}
.hiddenNavLi{
	display: block;
	margin-bottom: .8em;
}
.linkHiddenMenu{
	text-decoration: none;
	color: #323232;
	font-size: 2em;
}
/*mainMenu----------------------------------------------------*/




/*home--------------------------------------------------------*/
div#home
{
	background-color: yellow; 
	position: relative;

}

.heroBanner
{
	background-color: white;
	height: 90vh;
	color:white;
	text-align: center;
	position:relative;
	background-color: #323232;
	background-position: bottom center;
	background-size: cover;
	/*background-size permet d'adapter l'image*/
	background-attachment: fixed;
	/*permet de grader l'image fixe mÃƒÂªme si on scrole*/
}

.logo
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 56px;
	
}


#home h1
{
	position: absolute;
	width:100%;
	top:50%;
	transform:translateY(-50%);
	text-shadow: black 0 0.2em 0.3em;
	font-weight: lighter;
	/*graisse de la typo*/
	font-size: 7vw;
	/*taille de la typo propostionnel a la largeur de la fenÃªtre*/

}
/*home------------------------------------------------------------------------*/




/*about----------------------------------------------------------------------*/
div#about 
{
	background-color: white;
	padding: 6vw;	
}

.aboutWrapper
{
	position: relative; 

}


.photoRonde
{
	background-color: grey;
	display: inline-block;
	/*permet que les marge int et ext soit les mÃªme*/
	padding: 10%;
	/*ici on utilise le padding au lieu de heigth et width pour le cercle afin d'avoir une cercle parfait car le cercle sera prop au padding*/
	border-radius: 50%;
	box-shadow: black 0 0 1em inset;
	/*inset permet que l'ombre porter soit de l'interieur*/
	background-image: url(img/ombeline.png);
	background-position:center;
	/*permet de mettre l'image au centre de notre cercle*/
	background-size: cover;
}

.aboutTextWrapper
{
	display: inline-block;
	width:79%;
	/*permet de faire remonter le texte prÃ¨s de l'image*/
	vertical-align: top;
	padding-left: 2.3em;

}

#about h2
{
	background-color: #d1ccdc;
	color: #323232;
	text-transform: uppercase;
	font-size:4vw;
	font-weight: lighter;
	text-transform: uppercase;
	padding-left: 0.4em;
	padding-top: 0.1em;
}

.AboutMeTxt
{
	color: black;
}
/*about----------------------------------------------------------------------------*/




/*regle portfolio-----------------------------------------------*/
div#portfolio
{
	width: 100%;
	height: auto;
	background-color: white;
}

.titre
{
	text-align: center;
	width: 100%;
	height: 20%;
}

h1.titrePortfolio
{
	background-color: #d1ccdc;
	color: #323232;
	text-align: center;
	padding: 1em;
	margin: 0;
}

.containers
{
	display: block;
	width: 100%;
	height: 55vh;
}

.projet
{
	width: 33.33%;
	height: 100%;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.blockText
{
	text-align: center;
	color: #d1ccdc;
	visibility: hidden;
	margin: auto;

}

.filtre
{
	width: 100%;
	height: 0;
	position: absolute;
	display: flex;
	transition: all .4s;
	background-color: #323232;
	opacity: .8;
}

.projet:hover .filtre
{
	height: 100%;
}

.projet:hover .blockText
{
	visibility: visible;
}

p.titreProjet
{
	font-size: 3em;
	text-align: center;
}

#projet1
{
	background-image: url(img/rosace.jpg);
	background-size: cover;
	background-position: center;
}

#projet2
{
	background-image: url(img/main1.jpg);
	background-size: cover;
	background-position: center;
}

#projet3
{
	background-image: url(img/main2.jpg);
	background-size: cover;
	background-position: center;
}

#projet4
{
	background-image: url(img/SqueltteSkate.png);
	background-size: cover;
	background-position: center;
}

#projet5
{
	background-image: url(img/main3.png);
	background-size: cover;
	background-position: center;
}

#projet6
{
	background-image: url(img/bouche2.jpg);
	background-size: cover;
	background-position: center;
}



/*regle portfolio -----------------------------------------------*/


/*footer---------------------------------------------------------------------------*/


footer
{
	width: 100%;
	height: 29%;
}
.contact-me,.follow-me
{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 7px;
}
.contact-me
{
	background-color: #323232;
}
.follow-me
{
	background-color: #323232;
	vertical-align: top;


}


.followMeWrapper
{
	width:18em;
	margin: 0 auto;
	vertical-align: top;
}

a.socialLink
{
	width: 45px;
	height: 45px;
	display: inline-block;
	margin:1em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/*le fait que tous les pixels soient visible*/
	padding:1em;

}

.linkedIn
{
	background-image: url(http://jaxprodart.com/ESD/2016-B1/partiels2017/iconPack/social-1_round-linkedin.svg);
}

.gitHub
{
	background-image: url(http://jaxprodart.com/ESD/2016-B1/partiels2017/iconPack/social-1_square-github.svg);
}

.beHance
{
	background-image: url(http://jaxprodart.com/ESD/2016-B1/partiels2017/iconPack/social-1_square-behance.svg);
}

.facebook
{
	background-image: url(http://jaxprodart.com/ESD/2016-B1/partiels2017/iconPack/social-1_square-facebook.svg);
}

.twitter
{
	background-image: url(http://jaxprodart.com/ESD/2016-B1/partiels2017/iconPack/social-1_square-twitter.svg);
}

.youtube
{
	background-image: url(http://jaxprodart.com/ESD/2016-B1/partiels2017/iconPack/social-1_square-youtube.svg);
}


a.contactLink
{
	color : white;
	text-decoration: none;
	display: block;
	margin-bottom: 1em;
	transition: all 0.8s ease;
	padding: 1.47em;


}

a.contactLink:hover
{
	text-shadow: #000 1px 2px 4px
	color : white;
}


/*footer---------------------------------------------------------------------------*/


@media screen and (max-width: 600px){
	.mainNav{
		height: 10vh;
	}
	.btMenu{
		display: none;
	}
}

@media screen and (min-width: 600px){

	.menuBurger{
		display: none;
	}
}

@media screen and (max-width: 970px){
	.projet{
		width:49%;
		display: inline-block;
	}
}
